<!--The whole content below can be removed with the new code.-->


<!--side bar-->
<div class="ui pushable app-root">
  <div class="ui sidebar left inverted vertical menu" #sidebar>
    <div class="item">
      <div class="ui logo icon">
        <i class="ui book large icon"></i>
        <span class="logo-text">江湖</span>
      </div>
    </div>
    <a *ngFor="let item of menuItems"
       routerLink="{{item.path}}"
       routerLinkActive="active"
       class="item"
       (click)="onToggleSidebar()"
    >
      {{item.name}}
    </a>

  </div>
  <div class="pusher">
    <!--menu trigger-->
    <div class="ui top attached menu">
      <a class="item" (click)="onToggleSidebar()">
        <i class="sidebar icon"></i>
        {{currentCategory$ | async}}
      </a>
      <app-articles-controls
        class="item controls"
        *ngIf="visibleControls === 'articles'"
      ></app-articles-controls>
      <app-article-controls
        class="controls"
        *ngIf="visibleControls === 'article'"
      ></app-article-controls>
    </div>

    <!--content -->
    <div class="ui bottom attached">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

