.app-root {
  .controls {
    padding: 5px 20px;
  }
  .bottom {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
  }
  .logo {
    padding: 10px;
    .logo-text {
      margin-left: 4px;
    }
  }

  .pusher > .ui.bottom {
    overflow: auto;
  }
}

