<div
  class="item {{isActive()}}"
  (click)="onClickFilter('unread', isFavourite)"
>
  <i class="bookmark outline icon"></i>
  收藏
</div>
<div
  class="item {{isActive('archived')}}"
  (click)="onClickFilter('archived', isFavourite)"
>
  <i class="checkmark box icon"></i>
  已阅
</div>
<div
  class="item {{isActive('fav')}}"
  (click)="onClickFilter(selectedGroup, !isFavourite)"
>
  <i class="heart outline icon"></i>
  欢喜
</div>


<div class="item add-article">
  <div class="ui teal {{fetchingArticle?'loading':''}} icon button add-article-btn" #openModalButton>
    <i class="plus icon"></i>
  </div>
</div>

<div class="item">
  <div class="ui transparent icon input">
    <input type="text" placeholder="搜索..." #searchInput>
    <i class="search link icon"></i>
  </div>
</div>

<app-add-article-modal
  [open$]="openAddArticleModal$"
  [submit]="handleSubmit"
  [uid]="uid"
></app-add-article-modal>
