.article-container {
  margin-top: -3px;
  height: 100%;

  .column {
    padding-right: 0;
    padding-top: 0;
  }

  .loading img {
    margin-top: 15px;
    width: 50%;
  }

  .article-segment {
    height: 100%;
    .content::ng-deep {
      padding-bottom: 100px !important;

      *:not(img)::ng-deep {
        font-size: 1.05em !important;
        font-family: inherit !important;
        letter-spacing: 0.05em !important;
        line-height: 1.8em !important;
      }

      img {
        margin: 0;
        max-width: 100%
      }
    }
    .segment.header {
      font-size: 1.5em;
      border-bottom: none;
      & a {
        text-decoration: none;
        color: inherit;
      }
      .source {
        font-size: 0.6em;
        font-weight: lighter;
        margin-top: 20px;
        padding-bottom: 12px;
        color: gray;
      }
    }
  }
}

